.menu-div {
  padding: 10px 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  color: #fff;
  height: max-content;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #000;
  font-weight: bold;
}

.menu-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.menu-ul a {
  display: flex;
  gap: 5px;
}

.menu-ul img {
  width: 24px;
}
