.page-home {
  padding: 90px 50px;
  position: relative;
  min-height: 100vh;
}

.div-mais {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  bottom: 25px;
  right: 25px;
  width: 50px;
  position: absolute;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.show {
  display: block !important;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 30px;
}
