.card-container {
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
}

.card-image {
  position: relative;
}

.card-image > img {
  width: 100%;
}

.card-image > .trash {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  background-color: #fff;
  width: 35px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image > .star {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 35px;
  padding: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image > button > img {
  width: 30px;
}

.card-content {
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}
